repository:
  - service: git-service-name
    repository: repository-name
    webhooks:
      - branch: branch-name
        secret: "webhook-secret"
        working_dir: "working-dir"
        action:
          push:
            - "command1"
            - "command2"
          pull:
            ...
      - branch: branch-name
        ...
  - service: git-service-name
    repository: repository-name
    ...